.p {
    color: rgb(188, 89, 89);
    font: size 12px;
}

*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 75vw;
    margin: 0 auto;
}

.box {
    padding: 4em;
    width: 250%;
    height: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 13, 225);
}

.job { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
    width: 30%;
    height: 150px;
    background-image: url(image/fundo.jpg);

}
footer{
    height: 10vh;
}

img {
    width: 150px;
    margin: 0 auto;
}
h2{
    font-size: 22px;
    width: 30%;
    color: rgb(0, 2, 12);
}
h1{
    font-size: 20px;
    border-bottom: 5px solid black;
    border-top: 5p solid;
}
h2,h3,h5{
    margin-top: 5px;
    border-top-style: dotted;
    border-color:black
}
h4{
    font-size: 20px;
}


